# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment variables — HECH QACHON commit qilinmaydi!
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
